.full-review{
    display: flex;
    flex-direction: column;
    background-color: rgba(118, 54, 38, 0.65);
    border-radius: 5px;
    min-height: 50vh;
    max-height: 70vh;
}

.full-review__text{
    background-color: #90afc5;
    border-radius: 5px;
    margin: 20px;
    padding: 4px;
}

.full-review__form{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 5px;
    margin: 0 20px;
}

.full-review__form_submit{
    align-self: baseline;
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    background-color: #ff9800;
}

.full-review__form_input{
    border: none;
    border-radius: 5px;
}

.full-review__comments{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    overflow: auto;

}

.full-review__comments_comment{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(183, 215, 215);
    margin: 3px 20px;
    border-radius: 3px;
    border: none;
    padding: 3px;
}

.full-review__comments_comment_eraser{
    width: 20px;
    margin: 0 5px auto auto;
    padding: 0;
    cursor: pointer;
}

.full-review__comments_comment_text{
    margin: 2px 5px;
}