.full-review{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(118, 54, 38, 0.7);
    border-radius: 10px;
    width: 75vw;
    min-height: 85vh;
}

.full-review__close{
    width: 25px;
    height: 25px;
    background-color: transparent;
    position: absolute;
    top:2px;
    left: 2px;
}

.full-review__close:hover{
    cursor: pointer;
}

.full-review__title{
    color:antiquewhite;
    background-color: #2a3132;
    padding: 4px;
    border-radius: 5px;
    margin: 10px auto;
}

.full-review__text{
    background-color: #90afc5;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 25px;
}

.full-review__form{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 25px;
}

.full-review__form_input{
    overflow: scroll;
}