@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.header{
    font-family:  "Merriweather Sans", sans-serif;
    font-weight: bold;
    display: flex;
    background-color: #2f618d;
    border: none;
    border-radius: 20px;
    color: antiquewhite;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-image: url(/src/images/mediabg.jpg);
    background-size: 300px;
    background-repeat: repeat;
}

.header__text{
    font-weight: bold;
    margin: 0;
    background-color: #20201e;
    border-radius: 5px;
    padding: 1rem;
}

.header__sesion{
    margin: auto 5px auto auto;
}

.header__sesion_logout{
    border-radius: 5px;
    background-color: #9a9792;
    color:antiquewhite;
    padding: 1rem;
    font-weight: 100;
    border: none;
}

.header__sesion_logout:hover{
    background: #e68a00;
    cursor: pointer;
}

a {
    text-decoration: none;
}
