.register{
    display: flex;
    flex-direction: column;
    background-color: rgb(118, 54, 38);
    margin: auto;
    width: 365px;
    height: 50vh;
    border-radius: 20px;
    color: antiquewhite;
}

.register__title{
    color: antiquewhite;
    text-align: center;
    margin: 20px 0 0 0;
}

.register__form{
    display: flex;
    flex-direction: column;
}

.register__form_input{
    margin: 20px auto 0;
    width: 280px;
}

.register__button{
    margin: 15px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(51, 198, 51);
}

.register__link{
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    margin-top: 20px;
}