.review{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(209, 203, 188, .8);
    border: solid 2px gray;
    max-height: 350px;
}

.review__title{
    text-align: center;
    margin: 5px auto 0;
}

.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.review__image{
    margin: 20px auto 0;
    border-radius: 5px;
}

.review__footer{
    display: flex;
    justify-content:space-around;
    margin: 10px 30px;
}

.review__footer_reaction{
    background-color: transparent;
    border: none;
}