.review{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #75474962;
    border: none;
    max-height: 350px;
    color: antiquewhite;
}

.review__delete{
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: relative;
    top:2px;
    left: 2px;
    cursor: pointer;
}

.review__title{
    margin: 5px auto;
    text-align: center;
    background-color: transparent;
    padding: 0;
    border-radius: 5px;
}

.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0;
}

.review__image{
    max-height: 190px;
    margin: auto;
    border-radius: 5px;
}

.review__image:hover{
    cursor: pointer;
}

.review__footer{
    display: flex;
    justify-content:space-around;
    margin: 10px 30px;
}

.review__footer_like{
    background-image: url(../src/images/like.svg);
    height: 23px;
    width: 23px;
    border-radius: 3px;
    background-size: cover;
    color:antiquewhite;
    border: none;
    transition-property: transform;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: rgb(185, 177, 20);
}

.review__footer_like:active{
    transform: scale(1.3);
}

.review__footer_dislike{
    background-image: url(../src/images/downvote.svg);
    height: 23px;
    width: 27px;
    background-color:rgb(109, 115, 115);
    border-radius: 3px;
    background-size: cover;
    color:antiquewhite;
    border: none;
    transition-property: transform;
    transition-duration: 0.5s;
    cursor: pointer;
}

.review__footer_dislike:active{
    transform: scale(1.3);
}