
@media screen and (max-width: 375px) {
  .header__info_element{
    font-size: 20px;
  }

  .header_sesion_logout{
    padding: 0;
  }

  .user__info{
    flex-direction: column;
  }

  .user__info_name{
    margin-bottom: 0;
  }

  .page{
    font-size: 14px;
  }

  .popup__content{
    width: 90vW;
  }
  .reviews{
    grid-template-columns: 1fr;
  }

  .full-review__form{
    flex-wrap: wrap;
  }
}
