@media screen and (max-width: 768px) {
  .page{
    padding: 0 2rem;
  }

  .reviews {
    grid-template-columns: repeat(2, 1fr);
  }

  .popup__content{
    min-width: 70vw;
  }

  .popup__form{
    width: 100%;
  }

}