.user{
    display: flex;
    flex-direction: row;
    background-color: #4b0306;
    border: none;
    height: 10vh;
    border-radius: 20px;
    color: antiquewhite;
    font-size: 22px;
    justify-content: space-around;
    padding: 0 10px;
}

.user__info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user__info_name{
    padding-right: 15px;
}

.user__info_edit{
    width: 20px;
    height: 20px;
    cursor: pointer;
}