.user{
    display: flex;
    flex-direction: row;
    background-color: #763626;
    border: none;
    height: 10vh;
    border-radius: 20px;
    color: antiquewhite;
    font-size: 22px;
    justify-content: space-between;
    padding: 0 10px;
}